*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# NetBeans specific #
*/nbproject/private
*/private
*/build/
*/nbbuild/
*/dist/
*/nbdist/
*/nbactions.xml
*/nb-configuration.xml
*/local.properties
*/project.properties
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Android/nbandroid/
/Android/bin/

/Android/local.properties
/Android/project.properties